
.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.no-underline {
  text-decoration: none;
}

.bg-orange-100 {
  --bg-opacity: 1;
  background-color: #feecdc;
  background-color: rgba(254, 236, 220, var(--bg-opacity));
}

.text-orange-800 {
  --text-opacity: 1;
  color: #8a2c0d;
  color: rgba(138, 44, 13, var(--text-opacity));
}

.hover\:bg-orange-300:hover {
  --bg-opacity: 1;
  background-color: #fdba8c;
  background-color: rgba(253, 186, 140, var(--bg-opacity));
}

.ml-4 {
  margin-left: 1rem;
}
